.Header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: $spacing-base;
  width: 100%;
  height: 64px;

  &--wide {
    background-color: $color-primary-shade-3;
    border-bottom-left-radius: $spacing-base;
    border-bottom-right-radius: $spacing-base;
  }
}
