@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito/Nunito-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito/Nunito-Italic-VariableFont_wght.ttf") format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans/OpenSans-VariableFont_wdth\,wght.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans/OpenSans-Italic-VariableFont_wdth\,wght.ttf") format("truetype");
  font-style: italic;
}
