.ScreenList {
  display: flex;
  flex-direction: column;
  gap: $spacing-base;

  &__item {
    box-shadow: 0 0 5px 1px lighten($color-primary, 80%);
    border-radius: $spacing-base;
    padding: $spacing-base;
  }
}